/* criar variaveis no css para evitar repeticao e fcilitar altracoes no estilo */
:root {
  --cor-primaria: #5C8EFA;
  --cor-secundaria: #2F56AD;
  --cor-terciaria: #BAFA43;
  --cor-quartenaria: #FF2D14;

  /*cada 1em sao 16px*/
  --fonte-grande: 2.25em; 
  --fonte-pequena: 1em;
}

/* zerar a margem a preenchimento por padrao de todos os elementos */
* {
  margin: 0;  
  padding: 0;
}

/* este etilo refere-se ao canvas e estava assim no editor p5j */
canvas {
  display: block;
}


body {
    height: 100vh; /*usar o espaco total da pgina*/
    box-sizing: border-box; /*evitar que elementos filho `vazem` para fora dos elementos pai*/
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
  }

.destaque-tecla {
  color: var(--cor-quartenaria);
}
 
/*usando o flexbox no elemento pai*/
.conteiner {
  display: flex;
  flex-direction: row-reverse;/*define a direcao do alinhamento dos itens*/
  align-items: center; /*alinha a altura dos itens em relacao a eles proprios */
  justify-content: space-between;
}

.conteiner__secao {
  margin: 8%; /*criado margem para afastar texto da borda direita da pagina*/
  display: flex;
  flex-direction: column;
}

.conteiner__secao__titulo {
  font-size: var(--fonte-grande);
}

.conteiner__secao__paragrafo {
  font-size: var(--fonte-pequena);
}
