@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');
/* criar variaveis no css para evitar repeticao e facilitar alteracoes no estilo */
:root {
  --cor-fundo-tela: #0D3B66;
  --cor-texto-principal: #F4D35E;
  --cor-texto-secundario: #FAF0CA;
  --cor-texto-trecho: #F95738;
  --cor-fundo-botao: #539feb;
  --cor-fundo-botao-hover: #ABD2FA;
  --cor-texto-botao: #F4FAFF;


  /*cada 1em sao 16px*/
  --fonte-grande: 2.25em; 
  --fonte-pequena: 1.5em;

  --font-principal: 'Roboto', sans-serif;
  --font-secundaria: 'Roboto', sans-serif;

  --font-pesada: 900;
  --font-leve: 300;

  --gap-entre-texto-e-botoes: 1em;
  --gap-entre-texto-e-texto: 1em;

  --borda-dos-botoes: 1em;
  --preenchimento-dos-botoes: 1em;

  --margem-do-conteudo-em-relacao-ao-jogo: 0 2%;
  --usando-espaco-total-da-pagina: 100vh;
  --sem-vazamento-de-elementos-filhos-da-tag-pai: border-box;
}

/* zerar a margem a preenchimento por padrao de todos os elementos */
* {
  margin: 0;  
  padding: 0;
}

/* este etilo refere-se ao canvas e estava assim no editor p5j */
canvas {
  display: block;
}


body {
    height: var(--usando-espaco-total-da-pagina);
    box-sizing: var(--sem-vazamento-de-elementos-filhos-da-tag-pai);
    background-color: var(--cor-fundo-tela);
  }

.destaque-tecla {
  color: var(--cor-texto-trecho);
}
 

.principal {
  display: flex;
  flex-direction: row-reverse;
  align-items: center; 
  justify-content: space-between;
}

.principal__conteudo {
  margin: var(--margem-do-conteudo-em-relacao-ao-jogo);
  display: flex;
  flex-direction: column;
  gap: var(--gap-entre-texto-e-botoes);
}

.principal__conteudo__divisao__texto{
  display: flex;
  flex-direction: column;
  gap: var(--gap-entre-texto-e-texto);
}

.principal__conteudo__titulo {
  font-size: var(--fonte-grande);
  font-family: var(--font-principal);
  font-weight: var(--font-pesada);
  text-align: center;
  color: var(--cor-texto-principal);
}

.principal__conteudo__paragrafo {
  font-size: var(--fonte-pequena);
  font-family: var(--font-secundaria);
  font-weight: var(--font-leve);
  color: var(--cor-texto-secundario);
}

.principal__conteudo__divisao__botao{
  display: flex;
  justify-content: space-evenly;
}

.principal__conteudo__botao{
  text-decoration: none;
  text-align: center;
  border-radius: var(--borda-dos-botoes);
  padding: var(--preenchimento-dos-botoes);
  font-size: var(--fonte-pequena);
  font-family: var(--font-secundaria);
  font-weight: var(--font-pesada);
  color: var(--cor-texto-botao);
  background-color: var(--cor-fundo-botao);
}