@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;900&display=swap');

:root{
  /*corpo*/
  --usando-espaco-total-da-pagina: 100vh;
  --sem-vazamento-de-elementos-filhos-da-tag-pai: border-box;

  /*cores*/
  --cor-fundo-tela: #0D3B66;
  --cor-texto-principal: #F4D35E;
  --cor-texto-secundario: #FAF0CA;
  --cor-texto-trecho: #F95738;
  --cor-fundo-botao: #539feb;
  --cor-fundo-botao-hover: #ABD2FA;
  --cor-texto-botao: #F4FAFF;

  /*fontes e estilos (1em = 16px)*/
  --fonte-grande: 2.25em; 
  --fonte-pequena: 1.5em;

  --font-principal: 'Roboto', sans-serif;
  --font-secundaria: 'Roboto', sans-serif;

  --font-pesada: 900;
  --font-leve: 300;

  /*botoes*/
  --gap-entre-texto-e-botoes: 1.5em;
  --borda-dos-botoes: 1em;
  --preenchimento-dos-botoes: 1em;
  --espacamento-entre-os-botoes: space-evenly;
  --decoracao-do-texto-dos-botoes: none;
  --alinhamento-botoes-e-paragrafo: center;
  --centralizando-logotipo-e-texto-do-botao: center;
  --espacamento-entre-logotipo-e-texto-do-botao: 0.5em;
  --alinhamento-logotipo-e-texto-do-botao: center;

  /*alinhamentos*/
  --margem-do-conteudo-em-relacao-ao-jogo: 0 2%;
  --gap-entre-texto-e-texto: 1em;
  --conteiner-flexibilidade: flex;
  --alinhamento-texto-e-texto: column;
  --alinhamento-texto-e-botoes: column;
  --alinhamento-do-jogo-e-texto: row-reverse;
  --espaco-entre-o-jogo-e-o-texto: space-between;
  --centralizando-o-titulo: center;
}

/* zerar a margem a preenchimento por padrao de todos os elementos */
*{
  margin: 0;  
  padding: 0;
}

canvas{
  display: block;
}


body{
    /* line-height: 1; */
    height: var(--usando-espaco-total-da-pagina);
    box-sizing: var(--sem-vazamento-de-elementos-filhos-da-tag-pai);
    background-color: var(--cor-fundo-tela);
  }

.destaque-texto{
  color: var(--cor-texto-trecho);
}
 

.principal{
  display: var(--conteiner-flexibilidade);
  flex-direction: var(--alinhamento-do-jogo-e-texto);
  justify-content: var(--espaco-entre-o-jogo-e-o-texto);
}

.principal__conteudo{
  margin: var(--margem-do-conteudo-em-relacao-ao-jogo);
  display: var(--conteiner-flexibilidade);
  flex-direction: var(--alinhamento-texto-e-botoes);
  gap: var(--gap-entre-texto-e-botoes);
}

.principal__conteudo__texto{
  display: var(--conteiner-flexibilidade);
  flex-direction: var(--alinhamento-texto-e-texto);
  gap: var(--gap-entre-texto-e-texto);
}

.principal__conteudo__texto__titulo{
  font-size: var(--fonte-grande);
  font-family: var(--font-principal);
  font-weight: var(--font-pesada);
  text-align: var(--centralizando-o-titulo);
  color: var(--cor-texto-principal);
}

.principal__conteudo__texto__paragrafo{
  font-size: var(--fonte-pequena);
  font-family: var(--font-secundaria);
  font-weight: var(--font-leve);
  color: var(--cor-texto-secundario);
}

.principal__conteudo__links{
  display: var(--conteiner-flexibilidade);
  justify-content: var(--espacamento-entre-os-botoes);
  align-items: var(--alinhamento-botoes-e-paragrafo);
}

.principal__conteudo__links__botao{
  display: var(--conteiner-flexibilidade);
  justify-content: var(--centralizando-logotipo-e-texto-do-botao);
  gap: var(--espacamento-entre-logotipo-e-texto-do-botao);
  align-items: var(--alinhamento-logotipo-e-texto-do-botao);
  text-decoration: var(--decoracao-do-texto-dos-botoes);
  border-radius: var(--borda-dos-botoes);
  padding: var(--preenchimento-dos-botoes);
  font-size: var(--fonte-pequena);
  font-family: var(--font-secundaria);
  font-weight: var(--font-pesada);
  color: var(--cor-texto-botao);
  background-color: var(--cor-fundo-botao);
}

.principal__conteudo__links__paragrafo{
  font-size: var(--fonte-pequena);
  font-family: var(--font-secundaria);
  font-weight: var(--font-leve);
  color: var(--cor-texto-principal);
}

.principal__conteudo__links__botao:hover{
  background-color: var(--cor-fundo-botao-hover);
}